@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на стартовую страницу сервиса по кино - рекомендациям</h1>
    <a class="btn btn-success" asp-controller="Api" asp-action="MakeApiRequest">К списку</a>
    <a class="btn btn-success" asp-controller="Api" asp-action="MakeApiRequest">Ваши списки</a>


</div>
